# Load Package

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier

# Load Dataset

In [2]:
train = pd.read_csv("act_train.csv",parse_dates=["date"])
test = pd.read_csv("act_test.csv",parse_dates=["date"])
people = pd.read_csv("people.csv",parse_dates=["date"])

In [3]:
train.head()

,people_id,activity_id,date,activity_category,char_1,char_2,char_3,char_4,char_5,char_6,char_7,char_8,char_9,char_10,outcome
0,ppl_100,act2_1734928,2023-08-26,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 76,0
1,ppl_100,act2_2434093,2022-09-27,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
2,ppl_100,act2_3404049,2022-09-27,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
3,ppl_100,act2_3651215,2023-08-04,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
4,ppl_100,act2_4109017,2023-08-26,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0

In [4]:
len(train["people_id"].unique())

151295

In [5]:
test.shape

(498687, 14)

In [6]:
test.head()

,people_id,activity_id,date,activity_category,char_1,char_2,char_3,char_4,char_5,char_6,char_7,char_8,char_9,char_10
0,ppl_100004,act1_249281,2022-07-20,type 1,type 5,type 10,type 5,type 1,type 6,type 1,type 1,type 7,type 4,NaN
1,ppl_100004,act2_230855,2022-07-20,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 682
2,ppl_10001,act1_240724,2022-10-14,type 1,type 12,type 1,type 5,type 4,type 6,type 1,type 1,type 13,type 10,NaN
3,ppl_10001,act1_83552,2022-11-27,type 1,type 20,type 10,type 5,type 4,type 6,type 1,type 1,type 5,type 5,NaN
4,ppl_10001,act2_1043301,2022-10-15,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015

In [7]:
people.shape

(189118, 41)

In [8]:
people.head()

,people_id,char_1,group_1,char_2,date,char_3,char_4,char_5,char_6,char_7,...,char_29,char_30,char_31,char_32,char_33,char_34,char_35,char_36,char_37,char_38
0,ppl_100,type 2,group 17304,type 2,2021-06-29,type 5,type 5,type 5,type 3,type 11,...,False,True,True,False,False,True,True,True,False,36
1,ppl_100002,type 2,group 8688,type 3,2021-01-06,type 28,type 9,type 5,type 3,type 11,...,False,True,True,True,True,True,True,True,False,76
2,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,False,False,True,True,True,True,False,True,True,99
3,ppl_100004,type 2,group 22593,type 3,2022-07-20,type 40,type 25,type 9,type 4,type 16,...,True,True,True,True,True,True,True,True,True,76
4,ppl_100006,type 2,group 6534,type 3,2022-07-27,type 40,type 25,type 9,type 3,type 8,...,False,False,True,False,False,False,True,True,False,84

In [9]:
print("people_id = {}".format(len(people["people_id"])))
print("train_people_id = {}".format(len(train["people_id"].unique())))
print("test_people_id = {}".format(len(test["people_id"].unique())))

people_id = 189118
train_people_id = 151295
test_people_id = 37823

people_id of people has peopld_id of train and test

# overview

### unique data

In [10]:
# check unique data in train
for i in train.columns:
    print("{} has {} unique data".format(i, len(train[i].unique())))

people_id has 151295 unique data
activity_id has 2197291 unique data
date has 411 unique data
activity_category has 7 unique data
char_1 has 52 unique data
char_2 has 33 unique data
char_3 has 12 unique data
char_4 has 8 unique data
char_5 has 8 unique data
char_6 has 6 unique data
char_7 has 9 unique data
char_8 has 19 unique data
char_9 has 20 unique data
char_10 has 6516 unique data
outcome has 2 unique data

In [11]:
# check unique data in train
for i in test.columns:
    print("{} has {} unique data".format(i, len(test[i].unique())))

people_id has 37823 unique data
activity_id has 498687 unique data
date has 411 unique data
activity_category has 7 unique data
char_1 has 49 unique data
char_2 has 32 unique data
char_3 has 12 unique data
char_4 has 8 unique data
char_5 has 7 unique data
char_6 has 6 unique data
char_7 has 9 unique data
char_8 has 19 unique data
char_9 has 20 unique data
char_10 has 3962 unique data

In [12]:
# check unique data in train
for i in people.columns:
    print("{} has {} unique data".format(i, len(people[i].unique())))

people_id has 189118 unique data
char_1 has 2 unique data
group_1 has 34224 unique data
char_2 has 3 unique data
date has 1196 unique data
char_3 has 43 unique data
char_4 has 25 unique data
char_5 has 9 unique data
char_6 has 7 unique data
char_7 has 25 unique data
char_8 has 8 unique data
char_9 has 9 unique data
char_10 has 2 unique data
char_11 has 2 unique data
char_12 has 2 unique data
char_13 has 2 unique data
char_14 has 2 unique data
char_15 has 2 unique data
char_16 has 2 unique data
char_17 has 2 unique data
char_18 has 2 unique data
char_19 has 2 unique data
char_20 has 2 unique data
char_21 has 2 unique data
char_22 has 2 unique data
char_23 has 2 unique data
char_24 has 2 unique data
char_25 has 2 unique data
char_26 has 2 unique data
char_27 has 2 unique data
char_28 has 2 unique data
char_29 has 2 unique data
char_30 has 2 unique data
char_31 has 2 unique data
char_32 has 2 unique data
char_33 has 2 unique data
char_34 has 2 unique data
char_35 has 2 unique data
char_36 has 2 unique data
char_37 has 2 unique data
char_38 has 101 unique data

### missing data

In [13]:
#check missing data in train
for i in train.columns:
    print("{0} has {1:.2f}% missing data".format(i, (len(train[train[i].isnull()]) / train.shape[0]) *100))

people_id has 0.00% missing data
activity_id has 0.00% missing data
date has 0.00% missing data
activity_category has 0.00% missing data
char_1 has 92.83% missing data
char_2 has 92.83% missing data
char_3 has 92.83% missing data
char_4 has 92.83% missing data
char_5 has 92.83% missing data
char_6 has 92.83% missing data
char_7 has 92.83% missing data
char_8 has 92.83% missing data
char_9 has 92.83% missing data
char_10 has 7.17% missing data
outcome has 0.00% missing data

In [14]:
#check missing data in test
for i in test.columns:
    print("{0} has {1:.2f}% missing data".format(i, (len(test[test[i].isnull()]) / test.shape[0]) *100))

people_id has 0.00% missing data
activity_id has 0.00% missing data
date has 0.00% missing data
activity_category has 0.00% missing data
char_1 has 91.96% missing data
char_2 has 91.96% missing data
char_3 has 91.96% missing data
char_4 has 91.96% missing data
char_5 has 91.96% missing data
char_6 has 91.96% missing data
char_7 has 91.96% missing data
char_8 has 91.96% missing data
char_9 has 91.96% missing data
char_10 has 8.04% missing data

In [15]:
#check missing data in people
for i in people.columns:
    print("{0} has {1:.2f}% missing data".format(i, (len(people[people[i].isnull()]) / test.shape[0]) *100))

people_id has 0.00% missing data
char_1 has 0.00% missing data
group_1 has 0.00% missing data
char_2 has 0.00% missing data
date has 0.00% missing data
char_3 has 0.00% missing data
char_4 has 0.00% missing data
char_5 has 0.00% missing data
char_6 has 0.00% missing data
char_7 has 0.00% missing data
char_8 has 0.00% missing data
char_9 has 0.00% missing data
char_10 has 0.00% missing data
char_11 has 0.00% missing data
char_12 has 0.00% missing data
char_13 has 0.00% missing data
char_14 has 0.00% missing data
char_15 has 0.00% missing data
char_16 has 0.00% missing data
char_17 has 0.00% missing data
char_18 has 0.00% missing data
char_19 has 0.00% missing data
char_20 has 0.00% missing data
char_21 has 0.00% missing data
char_22 has 0.00% missing data
char_23 has 0.00% missing data
char_24 has 0.00% missing data
char_25 has 0.00% missing data
char_26 has 0.00% missing data
char_27 has 0.00% missing data
char_28 has 0.00% missing data
char_29 has 0.00% missing data
char_30 has 0.00% missing data
char_31 has 0.00% missing data
char_32 has 0.00% missing data
char_33 has 0.00% missing data
char_34 has 0.00% missing data
char_35 has 0.00% missing data
char_36 has 0.00% missing data
char_37 has 0.00% missing data
char_38 has 0.00% missing data

# Preprocessing

### Merge data

In [3]:
train_merge = train.merge(people, how="left", on ="people_id")
test_merge = test.merge(people, how ="left", on = "people_id")

### Explore data

In [17]:
train_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2197291 entries, 0 to 2197290
Data columns (total 55 columns):
people_id            object
activity_id          object
date_x               datetime64[ns]
activity_category    object
char_1_x             object
char_2_x             object
char_3_x             object
char_4_x             object
char_5_x             object
char_6_x             object
char_7_x             object
char_8_x             object
char_9_x             object
char_10_x            object
outcome              int64
char_1_y             object
group_1              object
char_2_y             object
date_y               datetime64[ns]
char_3_y             object
char_4_y             object
char_5_y             object
char_6_y             object
char_7_y             object
char_8_y             object
char_9_y             object
char_10_y            bool
char_11              bool
char_12              bool
char_13              bool
char_14              bool
char_15              bool
char_16              bool
char_17              bool
char_18              bool
char_19              bool
char_20              bool
char_21              bool
char_22              bool
char_23              bool
char_24              bool
char_25              bool
char_26              bool
char_27              bool
char_28              bool
char_29              bool
char_30              bool
char_31              bool
char_32              bool
char_33              bool
char_34              bool
char_35              bool
char_36              bool
char_37              bool
char_38              int64
dtypes: bool(28), datetime64[ns](2), int64(2), object(23)
memory usage: 528.1+ MB

In [18]:
test_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 498687 entries, 0 to 498686
Data columns (total 54 columns):
people_id            498687 non-null object
activity_id          498687 non-null object
date_x               498687 non-null datetime64[ns]
activity_category    498687 non-null object
char_1_x             40092 non-null object
char_2_x             40092 non-null object
char_3_x             40092 non-null object
char_4_x             40092 non-null object
char_5_x             40092 non-null object
char_6_x             40092 non-null object
char_7_x             40092 non-null object
char_8_x             40092 non-null object
char_9_x             40092 non-null object
char_10_x            458595 non-null object
char_1_y             498687 non-null object
group_1              498687 non-null object
char_2_y             498687 non-null object
date_y               498687 non-null datetime64[ns]
char_3_y             498687 non-null object
char_4_y             498687 non-null object
char_5_y             498687 non-null object
char_6_y             498687 non-null object
char_7_y             498687 non-null object
char_8_y             498687 non-null object
char_9_y             498687 non-null object
char_10_y            498687 non-null bool
char_11              498687 non-null bool
char_12              498687 non-null bool
char_13              498687 non-null bool
char_14              498687 non-null bool
char_15              498687 non-null bool
char_16              498687 non-null bool
char_17              498687 non-null bool
char_18              498687 non-null bool
char_19              498687 non-null bool
char_20              498687 non-null bool
char_21              498687 non-null bool
char_22              498687 non-null bool
char_23              498687 non-null bool
char_24              498687 non-null bool
char_25              498687 non-null bool
char_26              498687 non-null bool
char_27              498687 non-null bool
char_28              498687 non-null bool
char_29              498687 non-null bool
char_30              498687 non-null bool
char_31              498687 non-null bool
char_32              498687 non-null bool
char_33              498687 non-null bool
char_34              498687 non-null bool
char_35              498687 non-null bool
char_36              498687 non-null bool
char_37              498687 non-null bool
char_38              498687 non-null int64
dtypes: bool(28), datetime64[ns](2), int64(1), object(23)
memory usage: 116.0+ MB

## Address missing data

In [4]:
train_merge = train_merge.fillna("type 0")

In [5]:
test_merge = test_merge.fillna("type 0")

In [21]:
train_merge.head()

,people_id,activity_id,date_x,activity_category,char_1_x,char_2_x,char_3_x,char_4_x,char_5_x,char_6_x,...,char_29,char_30,char_31,char_32,char_33,char_34,char_35,char_36,char_37,char_38
0,ppl_100,act2_1734928,2023-08-26,type 4,type 0,type 0,type 0,type 0,type 0,type 0,...,False,True,True,False,False,True,True,True,False,36
1,ppl_100,act2_2434093,2022-09-27,type 2,type 0,type 0,type 0,type 0,type 0,type 0,...,False,True,True,False,False,True,True,True,False,36
2,ppl_100,act2_3404049,2022-09-27,type 2,type 0,type 0,type 0,type 0,type 0,type 0,...,False,True,True,False,False,True,True,True,False,36
3,ppl_100,act2_3651215,2023-08-04,type 2,type 0,type 0,type 0,type 0,type 0,type 0,...,False,True,True,False,False,True,True,True,False,36
4,ppl_100,act2_4109017,2023-08-26,type 2,type 0,type 0,type 0,type 0,type 0,type 0,...,False,True,True,False,False,True,True,True,False,36

In [8]:
#drop useless people_id
train_merge.drop("people_id",inplace=True,axis=1)
test_merge.drop("people_id", inplace=True, axis=1)

In [9]:
test_merge.sort_values("activity_id",inplace =True)

### Deal with datetime data

There are two datetime data : date_x and date_y

Make year, month,day and dayofweek

In [6]:
train_merge["x_year"] = train_merge["date_x"].dt.year
train_merge["x_month"] = train_merge["date_x"].dt.month
train_merge["x_day"] = train_merge["date_x"].dt.day
train_merge["x_dayofweek"] = train_merge["date_x"].dt.dayofweek

In [7]:
del train_merge["date_x"]

In [8]:
test_merge["x_year"] = test_merge["date_x"].dt.year
test_merge["x_month"] = test_merge["date_x"].dt.month
test_merge["x_day"] = test_merge["date_x"].dt.day
test_merge["x_dayofweek"] = test_merge["date_x"].dt.dayofweek

In [9]:
del test_merge["date_x"]

In [10]:
#date_y
train_merge["y_year"] = train_merge["date_y"].dt.year
train_merge["y_month"] = train_merge["date_y"].dt.month
train_merge["y_day"] = train_merge["date_y"].dt.day
train_merge["y_dayofweek"] = train_merge["date_y"].dt.dayofweek

In [11]:
test_merge["y_year"] = test_merge["date_y"].dt.year
test_merge["y_month"] = test_merge["date_y"].dt.month
test_merge["y_day"] = test_merge["date_y"].dt.day
test_merge["y_dayofweek"] = test_merge["date_y"].dt.dayofweek

## encoding categorical data

In [12]:
object_features = ['char_1_x', 'char_2_x', 'char_3_x','char_4_x', 'char_5_x', 'char_6_x', 'char_7_x', 'char_8_x', 'char_9_x']

In [13]:
one_hot = pd.get_dummies(train_merge[object_features]).astype('float32')

In [14]:
one_hot_test = pd.get_dummies(test_merge[object_features]).astype('float32')

In [15]:
cat= ['activity_category', 'char_1_y','char_2_y', 'char_3_y', 'char_4_y', 'char_5_y', 'char_6_y', 'char_7_y',
       'char_8_y', 'char_9_y']

In [16]:
one_hot2 =pd.get_dummies(train_merge[cat]).astype("float32")
one_hot_test2 = pd.get_dummies(test_merge[cat]).astype("float32")

In [18]:
x_train = train_merge.drop(object_features,1)
x_test = test_merge.drop(object_features,1)

In [19]:
x_train.drop(["char_10_x","group_1"],axis=1,inplace=True)
x_test.drop(["char_10_x","group_1"],axis=1,inplace=True)

In [20]:
x_train.drop(cat,1,inplace=True)
x_test.drop(cat,1,inplace=True)

Due to memory error, remove char_10_x

In [21]:
del x_train["outcome"]
del x_train["date_y"]
del x_test["date_y"]

Change bool type to int type

In [22]:
change_int = ['char_10_y', 'char_11', 'char_12', 'char_13',
       'char_14', 'char_15', 'char_16', 'char_17', 'char_18', 'char_19',
       'char_20', 'char_21', 'char_22', 'char_23', 'char_24', 'char_25',
       'char_26', 'char_27', 'char_28', 'char_29', 'char_30', 'char_31',
       'char_32', 'char_33', 'char_34', 'char_35', 'char_36', 'char_37']

In [23]:
x_train[change_int] = x_train[change_int].astype(int)

In [24]:
x_test[change_int] = x_test[change_int].astype(int)

Remove char_10_x and group_1 due to memory error

Concat x_train, one_hot, one_ho2

In [25]:
x_train=pd.concat([x_train,one_hot],axis=1)
x_train =pd.concat([x_train,one_hot2],axis=1)

In [35]:
y_train = train["outcome"]

In [26]:
del x_train["activity_id"]

In [41]:
del x_train["people_id"]

In [42]:
del x_test["people_id"]

In [27]:
x_test =pd.concat([x_test,one_hot_test],axis=1)
x_test =pd.concat([x_test,one_hot_test2],axis=1)

In [28]:
del x_test["activity_id"]

# Feature_selection with RandomForest

In [44]:
from sklearn.ensemble import RandomForestClassifier

In [56]:
model = RandomForestClassifier(max_depth=8)
model

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=8, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [57]:
model.fit(x_train,y_train)

MemoryError:

In [61]:
imp_feat_rft = pd.Series(model.feature_importances_, index=x_train.columns).sort_values(ascending=False)

In [102]:
imp_feat_rft.head()

char_38            0.172053
char_2_y_type 2    0.158835
char_37            0.086234
char_2_y_type 3    0.082146
char_8_y_type 2    0.080370
dtype: float64

In [63]:
indices = np.argsort(model.feature_importances_)[::-1]

Take Top60 features

In [64]:
select_feat =[str(s) for s in x_train.columns[indices][:60]]

In [65]:
select_feat

['char_38',
 'char_2_y_type 2',
 'char_37',
 'char_2_y_type 3',
 'char_8_y_type 2',
 'char_13',
 'char_8_y_type 3',
 'char_19',
 'char_6_y_type 1',
 'char_20',
 'char_36',
 'char_1_y_type 1',
 'char_25',
 'char_9_y_type 3',
 'activity_category_type 3',
 'char_2_y_type 1',
 'char_23',
 'char_6_y_type 5',
 'char_9_y_type 2',
 'y_day',
 'char_28',
 'char_6_y_type 2',
 'x_day',
 'char_31',
 'x_month',
 'activity_category_type 2',
 'char_3_y_type 11',
 'char_1_y_type 2',
 'char_5_y_type 9',
 'char_7_y_type 6',
 'char_7_y_type 21',
 'char_22',
 'char_9_y_type 4',
 'char_34',
 'char_27',
 'char_9_y_type 9',
 'char_21',
 'char_8_y_type 4',
 'char_10_y',
 'char_5_y_type 2',
 'char_16',
 'y_dayofweek',
 'char_7_y_type 14',
 'char_7_y_type 5',
 'char_32',
 'char_18',
 'activity_category_type 4',
 'char_6_y_type 6',
 'char_7_y_type 12',
 'char_7_y_type 23',
 'char_8_y_type 1',
 'char_7_y_type 10',
 'char_7_y_type 1',
 'char_24',
 'char_3_y_type 5',
 'char_4_y_type 25',
 'char_6_y_type 4',
 'char_9_y_type 8',
 'char_7_y_type 16',
 'char_7_y_type 24']

# Train

In [93]:
x_train = x_train[select_feat]
x_test = x_test[select_feat]
y_train = train["outcome"]

In [69]:
import xgboost as xgb

In [71]:
model = xgb.XGBClassifier(nthread=4,n_estimators=30,max_depth=7)
model

XGBClassifier(base_score=0.5, colsample_bylevel=1, colsample_bytree=1,
       gamma=0, learning_rate=0.1, max_delta_step=0, max_depth=7,
       min_child_weight=1, missing=None, n_estimators=30, nthread=4,
       objective='binary:logistic', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=1, seed=0, silent=True, subsample=1)

In [95]:
model.fit(x_train,y_train)

XGBClassifier(base_score=0.5, colsample_bylevel=1, colsample_bytree=1,
       gamma=0, learning_rate=0.1, max_delta_step=0, max_depth=7,
       min_child_weight=1, missing=None, n_estimators=30, nthread=4,
       objective='binary:logistic', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=1, seed=0, silent=True, subsample=1)

# Predict

In [96]:
predict = model.predict(x_test)

In [97]:
len(predict)

498687

# Submission

In [98]:
submit = pd.read_csv("sample_submission.csv", index_col="activity_id")

In [99]:
submit["outcome"]=predict

In [100]:
submit.to_csv("submit_without_hyper2.csv")

Kggle score: 0.862506